{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-0",
    "airbnb"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
