{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "max-len": ["warn", 125],
    "object-property-newline": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/prop-types": "warn",
    "react/jsx-no-bind": "off",
    "react/no-find-dom-node": "off",
    "react/jsx-space-before-closing": "off",
    "react/jsx-tag-spacing": "off",
    "no-nested-ternary": "off",
    "no-unused-vars": "warn",
    "eol-last": "off",
    "no-return-assign": "off",
    "import/no-named-as-default": "off",
    "no-useless-constructor": "off",
    "array-callback-return": "off",
    "linebreak-style": "off",
    "func-names": "off",
    "object-shorthand": "off",

    "quotes": "off",
    "quote-props": "off",
    "no-bitwise": "off",
    "no-trailing-spaces": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "import/prefer-default-export": "off",
    "global-require": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "indent": "off",
    "prefer-const": "off",
    "prefer-template": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "react/jsx-indent-props": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-indent": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/no-array-index-key": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "react/sort-comp": "off",
    "react/": "off",
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "no-mixed-operators": "off"
  }
}